body, html {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  background-color: rgb(209, 209, 183);
}

img {
  max-width: 100vw;
}

.stripe {
  width: 100vw;
  height: 150px;
  background-color: black;
  position: absolute;
  bottom: 0px;
}