body, html {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: rgb(245, 245, 214);
  background-color: rgb(61, 54, 54);
}

img {
  width: 100vw;
  height: 300px;
  object-fit: cover;
  object-position: 0 0;
}

.clickable:hover {
  cursor: pointer;
  opacity: .7;
}

button {
  padding-top: 4px;
  font-family: inherit;
  font-size: 14px;
  margin: 3px;
  border-width: 3px;
  border-image: 
  linear-gradient(to right bottom, rgb(85, 1, 145), rgb(199, 110, 2)) 1;
  border-radius: 10em;
  background-color: transparent;
  color: rgb(243, 243, 214);
}

button:hover {
  cursor: pointer;
  opacity: .7;
}

input {
  text-align: center;
  font-family: inherit;
  border: 0;
  border-bottom: 2px solid grey;
  outline: 0;
  font-size: 17px;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 10px;
  width: fit-content;
  color: rgb(221, 221, 142);
}

.visible{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}

.colorsParent{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}